<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Newsline-iOS.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.nulljosh.newsline</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>202608111200</string>
		<key>SigningIdentity</key>
		<string>Apple Development: trommatic@icloud.com (8VQ3Z7494A)</string>
		<key>Team</key>
		<string>QMM486NPYC</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2026-08-27T21:11:49Z</date>
	<key>Name</key>
	<string>Newsline-iOS</string>
	<key>SchemeName</key>
	<string>Newsline-iOS</string>
</dict>
</plist>
